backend/venv/
client/node_modules/
client/.next/

node_modules/
backend/.env
.codegpt
.vscode/
.idea/
# Virtual environment
client/node_modules/

backend/venv/
__pycache__/
*.pyc
*.pyo

backend/__pycache__/

*.log
*.tmp

dist/
build/

node_modules/
backend/.env

